body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
}

section {
  padding: 60px 20px;
  text-align: center;
}

.hero {
  background: linear-gradient(135deg, #2563eb, #1e40af);
  color: white;
  padding: 100px 20px;
}

.hero span {
  color: #facc15;
}

.about, .projects, .contact {
  background: #020617;
}

.skills {
  background: #020617;
}

.skill-box span {
  display: inline-block;
  background: #1e293b;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 20px;
}

footer {
  background: black;
  padding: 15px;
  font-size: 14px;
}
